html, body {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #fff;
    background-color: #000;
}

/* Poppins CSS Classes (added just in case) */
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}
  
.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}
  
.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}
  
/* Delimitating diff sections with a margin */
.container {
  margin: 20px 0px;
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  /* ? Maybe I should add a dynamic background color? sometimes we wouldn't see the fonts, that's it */
  z-index: 1000;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 48px;
}

nav img {
  height: 64px;
}

.navbar-links{
  display: flex;
  gap: 24px;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

.navbar-links a {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal; 
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.navbar-links button {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal; 
  font-size: 16px;
  text-decoration: none;
  padding: 10px;
  background-color: #fff;
  color: #000;
  border-radius: 7px;
  border: none;
}

.homepage-video-container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  /* display: flex;
  flex-direction: column; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lower-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100%); 
}

.introduction-section video{
  width: 100%;
  filter: brightness(50%)
}

.introduction-text-container {
  width: 100%;
  font-size: 32px;
}

#homepage-main-logo {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal; 
  font-size: 80px;
  margin: 0;
}

.logo-motto-container {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.underlogo-motivation-container {
  margin: 0;
  width: 100%;
}